*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(51, 211, 78);
}

#game-screen{
    border: 6px solid white;
    margin: 5%;
    box-shadow: 4px 4px 12px 3px rgb(22, 95, 34);
}